{{template "header"}}
<title>404</title>
</head>
<body>
<div class="container">
	<div class="hero-unit">
		<h1>
			Page Not Found
			<small> <font face="Tahoma" color="red">Error 404</font>
			</small>
		</h1>
		<br />
		<p>
			<h3 style="font-family:Microsoft Yahei; font-size:18px;">您请求的页面不存在，请联系网站管理员</h3>
		</p>
		<p style="font-family:Microsoft Yahei"> <b>点击下面的按钮回到主页</b>
		</p>
		<a href="/" class="btn btn-large btn-info"> <i class="icon-home icon-white"></i>
			回到主页
		</a>
	</div>
</div>
{{template "footer" .}}